DbUrl=localhost
DbName=spreadly
DbPrefix=stl_
DbUser=root
DbPassword=
DbPort=
MailjetPublicKey=
MailjetPrivateKey=
MailFromEmail=contact@love.com
MailFromName=Contact
MailSubject="Your 💗 letter"
MailTemplateId=0